<iframe width="100%" height="{{ .Get "height" }}" scrolling="no" frameborder="no" src="{{ .Get "src" }}"></iframe>
<div style="font-size: 10px; color: #cccccc; line-break: anywhere; word-break: normal; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif; font-weight: 100;">
    <a href="{{ .Get "profile_url" }}" title="{{ .Get "profile_title" }}" target="_blank" style="color: #cccccc; text-decoration: none;">{{ .Get "profile_title" }}</a> ·
    <a href="{{ .Get "track_url" }}" title="{{ .Get "track_title" }}" target="_blank" style="color: #cccccc; text-decoration: none;">{{ .Get "track_title" }}</a>
</div>